<!-- Hey, Emacs! This is an -*- xml -*- file!-->

<launch>

 <group ns="LadyMcCormick" >

 <!-- RXTX node -->
  <node name="RxTx" pkg="rxtx" type="RxTx" output="screen">
    <param name="SerialPort" value="/dev/ttyUSB0"/>
    <param name="BaudRate" value="38400" />
  </node>

 <!-- Hoverboard -->
  <node name="HoverboardLL" pkg="hoverboard" type="HoverboardLL" output="screen" />

 <!-- Hovercraft -->
  <node name="Hovercraft" pkg="hovercraft" type="HoverCraft" output="screen" />

 <!-- Joy Node -->	
  <node respawn="true" pkg="joy"
        type="joy_node" name="hover_joy" >
    <param name="dev" type="string" value="/dev/input/js1" />
    <param name="deadzone" value="0.12" />
  </node>

 <!-- Axes -->
  <param name="axis_linear" type="int" value="1"/>
  <param name="axis_angular" type="int" value="0"/>
  <param name="scale_linear" type="double" value="2"/>
  <param name="scale_angular" type="double" value="2"/>

 <!-- Arbitrator --> 
  <node name="Arbitrator" pkg="arbitrator" type="arbitrator" output="screen"/>

 <!-- Thruster Mapping -->
  <node name="ThrusterMapping" pkg="thrusterMapping" type="thrusterMappingNewConfig.py" output="screen" />
  
 <!-- Angle Position PID -->
  <node name="AngPosPID" pkg="angPos_PID" type="angPos_PID" output="screen"/>

 <!-- PD Values -->
  <param name="angCtrl/P" type="double" value="0.003"/>
  <param name="angCtrl/D" type="double" value="0.060"/>

 <!-- Joy Angle Integrater -->
  <node name="JoyAngIntegrater" pkg="joyAngleIntegrater" type="joyAngleIntegrater" output="screen"/>

  <!-- Nerf Gun -->
  <node name="nerfgun" pkg="nerfgun" type="shooter.py" output="screen">
	<param name="ServoFireValue" type="int" value="0"/>
	<param name="ServoReloadValue" type="int" value="80"/>
	<param name="TriggerThresh" type="double" value="-.5"/>
	<param name="ShooterServoNumber" type="int" value="2"/>
  </node>
  </group>
</launch>

